streamlit
pandas
numpy
matplotlib
seaborn
langchain
langchain-experimental
google-genai
langchain-google-genai
langchain-community
langchain-core
ydata-profiling==4.17.0
setuptools
tabulate

